<link rel="stylesheet" href="css/index.css">


<img class="home_hero" src="images/home/GateKeeper_Hero.png" alt="Hero" />
<div class = "title-container">
    <div class="mainpage-title">Gate Keeper</div>
    <div class="mainpage-subtitle">Home Automation</div>
</div>
