<link rel="stylesheet" href="/css/index.css">

<img class="home_hero" src="images/home/GateKeeper_Hero.png" alt="Hero" />
<div class = "title-container">
    <div class="mainpage-title">Gate Keeper</div>
    <div class="mainpage-subtitle">Home Automation</div>
</div>
<div class="icon-row">
    <img class="icon" src="/images/home/C_Logo.png" alt="C++" />
    <img class="icon" src="/images/home/Arduino_Logo.svg" alt="Arduino" />
    <img class="icon" src="/images/home/Bluetooth_Logo.png" alt="BlueTooth" />
    <img class="icon" src="/images/home/Wifi_Logo.png" alt="Wifi" />
</div>
<div class="link-container">
    <a href="https://github.com/jlai9001/GateKeeper" class="repo-link">Repository Link for this Website</a>
</div>
