/* global styles */
html,body{
  margin:0;
  padding:0;
  height:100%;
  background-color: black;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page{
  flex:1;
}


h1{
  color:white;
}

.home_hero{
  border-radius:20px;
  border: 5px solid rgb(79, 79, 79);
  display:flex;
  margin:auto;
  height:auto;
  max-width:600px;
}

.title-container{
  display:flex;
  flex-direction: column;
  margin:10px 0 0;
  width:100%;
}

.mainpage-title{
  font-family: "Goldman", sans-serif;
  font-weight: 700;

  text-align: center;
  color:white;
  font-size: 60px;
  font-weight: 800;
  margin: 10px 0px 0px;
}

.mainpage-subtitle{
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  text-align: center;
  color:white;
  font-size: 34px;
  font-weight: 700;
}

.icon-row{
  display: flex;
  margin:40px 0px 10px;
  justify-content: center;
  gap:15px;
}

.icon{
  height:auto;
  max-width:200px;
}



/* mobile styles here */

@media (max-width: 600px) {

  .home_hero{
    height:auto;
    max-width:300px;
  }

  .mainpage-title{
    font-size: 35px;
  }

  .mainpage-subtitle{
  font-size: 23px;
  }

  .icon{
  height:auto;
  max-width:70px;
  }
}
