
/* ===== Navbar base ===== */
.navbar {
  width: 100%;
  padding: 10px 0;
  margin-bottom:30px;
  background-color: #111827;
  margin: 0;          /* remove drift */
}

.nav-inner {
  width: 100%;
  display: flex;
  justify-content: center; /* centers dropdown */
  align-items: center;
}

/* ===== Dropdown ===== */
.dropdown {
  position: relative;
  font-family: Arial,sans-serif;
  font-weight:300;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 5px 60px;
  border: 1px solid white;
  border-radius: 10px;
  background: #ffffff;
  font-size: 20px;
}

/* hidden by default */
.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  background: #2f2f2f;
  border: 3px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.10);
  padding: 8px;
  z-index: 1000;
  font-size:20px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
}

.dropdown-menu a:hover {
  background: #f3f4f6;
  color:black;
}

/* toggled state */
.dropdown-menu.is-open {
  display: block;
  border: 5px solid rgb(79, 79, 79);
}
