/* =========================
    Logic layout
   ========================= */
.video-page {
    color: white;
    padding-bottom: 30px;
}

.video-header {
    width: 100%;
    background:linear-gradient(rgb(31, 31, 31), rgb(15, 15, 15));
    border-top: 3px solid rgb(55, 55, 55);
    border-bottom: 3px solid rgb(55, 55, 55);
    padding: 18px 0 14px;
    margin-bottom: 26px;
}

.video-title {
    font-family: "Goldman", sans-serif;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 24px;
}
