<link rel="stylesheet" href="/css/electronics.css">

<section class="electronics-page" aria-label="Gate Keeper Electronics">


  <header class="electronics-header">
    <div class="electronics-title">Electronics</div>
  </header>

<table class="electronics-table">
  <tr class="component-name">
    <td> ESP32 EDGE by DFROBOT </td>
    <td> ESP32 WROOM DEV Module </td>
  </tr>

  <tr class="picture-row">
    <td> <img class="esp32-edge" src="images/electronics/ESP32-Edge.png" alt="ESP32_Edge" /> </td>
    <td> <img class="esp32-wroom" src="images/electronics/ESP32-WROOM.png" alt="ESP32_Edge" /> </td>
  </tr>

  <tr class="description-row">
    <td class="description-cell">
      <p class="description-text">
        Primary microcontroller used for logic processing and for bluetooth beacon acquisition.
      </p>
    </td>
    <td class="description-cell">
      <p class="description-text">
        Secondary microcontroller used for logic processing and rtc scheduled timers
      </p>
    </td>
  </tr>

</table>


<table class="electronics-table">
  <tr class="component-name">
    <td> Electronic Relay </td>
    <td> Gate Remote PCB with DIP Switch Input </td>
  </tr>



  <tr class="picture-row">
    <td> <img class="relay" src="images/electronics/Relay.png" alt="relay" /> </td>
    <td> <img class="gate-remote" src="images/electronics/Remote_NoBatt.png" alt="gate_remote" /> </td>
  </tr>


  <tr class="description-row">
    <td class="description-cell">
      <p class="description-text">
        Used for activating the gate remote by closing a bridging circuit with an input signal from the
        microcontroller.
      </p>
    </td>
    <td class="description-cell">
      <p class="description-text">
        Used to run gate operation. Modified to accept signals from electronic relay and power
        from power supply.
      </p>
    </td>
  </tr>
</table>

<table class="electronics-table">
  <tr class="component-name">
    <td> Buck Converter </td>
    <td> DS3231 RTC Clock Module </td>
  </tr>

  <tr class="picture-row">
    <td> <img class="buck-converter" src="images/electronics/BuckConverter.png" alt="BuckConverter" /> </td>
    <td> <img class="rtc" src="images/electronics/RTC.png" alt="RTC" /> </td>
  </tr>

  <tr class="description-row">
    <td class="description-cell">
      <p class="description-text">
        Used to down-convert voltages.
      </p>
    </td>
    <td class="description-cell">
      <p class="description-text">
        Used to keep real time clock information in perfect sync.
    </td>


  </tr>
</table>




</section>
