<link rel="stylesheet" href="/css/electronics.css">

<section class="electronics-page" aria-label="Gate Keeper Electronics">


  <header class="electronics-header">
    <div class="electronics-title">Electronics</div>
  </header>

<table class="electronics-table">
  <tr class="component-name">
    <td> ESP32 EDGE by DFROBOT </td>
    <td> Name 2 </td>
  </tr>

  <tr class="picture-row">
    <td> <img class="esp32-edge" src="images/electronics/ESP32_Edge.png" alt="ESP32_Edge" /> </td>
    <td> Picture 2 </td>
  </tr>

  <tr class="description-row">
    <td class="description-cell">
      <p class="description-text">
        Primary microcontroller used for logic processing and for bluetooth beacon acquisition.
      </p>
    </td>
    <td> Description 2 </td>
  </tr>

</table>


<table class="electronics-table">
  <tr class="component-name">
    <td> Name 3 </td>
    <td> Name 4 </td>
  </tr>

  <tr class="picture-row">
    <td> Picture 3 </td>
    <td> Picture 4 </td>
  </tr>

  <tr class="description-row">
    <td> Description 3 </td>
    <td> Description 4 </td>
  </tr>
</table>

<table class="electronics-table">
  <tr class="component-name">
    <td> Name 5 </td>
    <td> Name 6 </td>
  </tr>

  <tr class="picture-row">
    <td> Picture 5 </td>
    <td> Picture 6 </td>
  </tr>

  <tr class="description-row">
    <td> Description 5 </td>
    <td> Description 6 </td>
  </tr>
</table>




</section>
