<link rel="stylesheet" href="css/objectives.css">


<main class="page">
    <div class="objective-heading">Objectives</div>
        <li class="objective-text">
            Completely automate the opening and shutting procedures for the front gate.
            <ul>
            <!-- remote picture -->
            <img class="remote-beacon" src="images/objectives/RemoteToBeacon.png" alt="GateRemote" />

            </ul>

            <ol class="objective-subtext">
                Use bluetooth beacons to detect both the presence and absence of vehicles.
            </ol>

            <ol class="objective-subtext">
                Use limit switches to detect the current state of the gate.
            </ol>

            <ol class="objective-subtext">
                Use a programmable micro-controller to act on certain conditions.
            </ol>

            <br>

        </li>

        <li class="objective-text">
            Use safety sensors to monitor the presence of obstacles.
        </li>

        <li class="objective-text">
            Allow the system to dynamically adapt to manual control overides.
        </li>

        <li class="objective-text">
            Use real-time clock to open and close on preset schedules.
        </li>

        <li class="objective-text">
            Power the system using 100% solar energy.
        </li>

        <li class="objective-text">
            The system must be 100% weatherproof.
        </li>


</main>
