<link rel="stylesheet" href="css/programming.css">

<section class="programming-page" aria-label="Gate Keeper Programming">
    <header class="programming-header">
        <h1 class="programming-title">Programming</h1>
    </header>

    <div class="stylized-heading">
        Main Controller Code
    </div>

    <div class="stylized-heading">
        Beacon Detector Code
    </div>

    <div class="stylized-heading">
        Timer Code
    </div>


</section>
