<link rel="stylesheet" href="/css/sensors.css">

<section class="sensors-page" aria-label="Gate Keeper Sensors">

  <header class="sensors-header">
    <div class="sensors-title">Sensors</div>
  </header>

  <div class="sensors-table-wrap">
    <table class="sensors-table">
      <tr class="component-name">
        <td> Bluetooth Beacon </td>
        <td> Limit Switch </td>
      </tr>

      <tr class="picture-row">
        <td> <img class="beacon" src="images/sensors/Beacon.jpg" alt="Beacon" /> </td>
        <td> <img class="limit-1" src="images/sensors/Limit_1.jpg" alt="Limit_1" /> </td>
      </tr>

      <tr class="description-row">
        <td class="description-cell">
          <p class="description-text">
            Placed in vehicles for microcontroller to detect. Used to open or close the gate.
          </p>
        </td>
        <td class="description-cell">
          <p class="description-text">
            Used to determine physical state of the gate. Either shut, open, or in transition.
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="sensors-mobile-list">
    <article class="sensors-mobile-card">
      <div class="sensors-mobile-name">Bluetooth Beacon</div>
      <div class="sensors-mobile-img">
        <img class="beacon" src="images/sensors/Beacon.jpg" alt="Beacon" />
      </div>
      <div class="sensors-mobile-desc">
        Placed in vehicles for microcontroller to detect. Used to open or close the gate.
      </div>
    </article>

    <article class="sensors-mobile-card">
      <div class="sensors-mobile-name">Limit Switch</div>
      <div class="sensors-mobile-img">
        <img class="limit-1" src="images/sensors/Limit_1.jpg" alt="Limit_1" />
      </div>
      <div class="sensors-mobile-desc">
        Used to determine physical state of the gate. Either shut, open, or in transition.
      </div>
    </article>
  </div>

  <div class="sensors-table-wrap">
    <table class="sensors-table">
      <tr class="component-name">
        <td> Limit Switch </td>
        <td> Infrared Sensor </td>
      </tr>

      <tr class="picture-row">
        <td> <img class="limit-2" src="images/sensors/Limit_2.jpg" alt="Limit_1" /> </td>
        <td> <img class="ir-1" src="images/sensors/IR_01.jpg" alt="ir_1" /> </td>
      </tr>


      <tr class="description-row">
        <td class="description-cell">
          <p class="description-text">
            Used to determine physical state of the gate. Either shut, open, or in transition.
          </p>
        </td>
        <td class="description-cell">
          <p class="description-text">
            Used to detect physical obstructions from interfering with gate operations.
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="sensors-mobile-list">
    <article class="sensors-mobile-card">
      <div class="sensors-mobile-name">Infrared Sensor</div>
      <div class="sensors-mobile-img">
        <img src="images/sensors/IR_01.jpg" alt="ir-1" />
      </div>
      <div class="sensors-mobile-desc">
        Used to detect physical obstructions from interfering with gate operations.
      </div>
    </article>

    <article class="sensors-mobile-card">
      <div class="sensors-mobile-name">Infrared Sensor</div>
      <div class="sensors-mobile-img">
        <img src="images/sensors/IR_02.jpg" alt="ir-2" />
      </div>
      <div class="sensors-mobile-desc">
        Used to detect physical obstructions from interfering with gate operations.
      </div>
    </article>
  </div>


  <div class="sensors-table-wrap">
  <table class="sensors-table">
    <tr class="component-name">
      <td> Infrared Sensor </td>
    </tr>

    <tr class="picture-row">
      <td> <img class="ir-2" src="images/sensors/IR_02.jpg" alt="ir_02" /> </td>
    </tr>

    <tr class="description-row">
      <td class="description-cell">
        <p class="description-text">
          Used to detect physical obstructions from interfering with gate operations.
        </p>
      </td>
    </tr>
  </table>
  </div>

</section>
