<link rel="stylesheet" href="css/solar.css">

<section class="solar-page" aria-label="Gate Keeper Objectives">
  <header class="solar-header">
    <h1 class="solar-title">Solar</h1>
    <p class="solar-tagline">Tap an item to view details.</p>
  </header>
</section>

<body>


<div class="solar-panel-heading">
  Panels
</div>

<table class="solar-table">
  <tr>
    <!-- solar roof -->
    <td> <img class="solar-roof" src="images/solar/Solar_Roof.png" alt="Solar_Roof" /> </td>
    <td> 70 WATTS </td>
  </tr>
  <tr>
    <!-- solar aux -->
    <td> <img class="solar-aux" src="images/solar/Solar_Aux.png" alt="Solar_Aux" /> </td>
    <td> 80 WATTS </td>
  </tr>
</table>


<div class="battery-heading">
  Battery
</div>

<table class="battery-table">
  <tr>
     <!-- Battery  -->
    <td> <img class="battery" src="images/solar/Battery.jpeg" alt="Battery" /> </td>
    <td> 200 AH </td>
  </tr>
</table>

<!-- solar system diagram -->

<div class="solar-system-heading">
  Solar System
</div>
<img class="solar-diagram" src="images/solar/Solar_Diagram.png" alt="Solar" />


<table class="calculation-table">
  <tr>
    <td> Solar Production </td>
    <td> 70 WATTS </td>
  </tr>
  <tr>
    <td> Power Expenditure</td>
    <td> 0.3 AH </td>
  </tr>
  <tr>
    <td> Battery Capacity</td>
    <td> 200 AH </td>
  </tr>
  <tr>
    <td> Daily Consumption</td>
    <td> 86.4 WATTS </td>
  </tr>
  <tr>
    <td> Daily Surplus</td>
    <td> 660 WATTS </td>
  </tr>
  <tr>
    <td> Days of Autonomy</td>
    <td> 14 DAYS </td>
  </tr>



</table>




</body>
