<link rel="stylesheet" href="css/solar.css">

<section class="solar-page" aria-label="Gate Keeper Objectives">
  <header class="solar-header">
    <h1 class="solar-title">Solar</h1>
    <p class="solar-tagline">Tap an item to view details.</p>
  </header>
</section>


  <img class="solar_diagram" src="images/solar/Solar_Diagram.png" alt="Solar" />
