<link rel="stylesheet" href="css/solar.css">

<section class="solar-page" aria-label="Gate Keeper Objectives">
  <header class="solar-header">
    <h1 class="solar-title">Solar</h1>
    <p class="solar-tagline">Tap an item to view details.</p>
  </header>
</section>

<body>


<div class="solar-panel-heading">
  Panels
</div>

<table class="solar-table">
  <tr>
    <!-- solar roof -->
    <td> <img class="solar-roof" src="images/solar/Solar_Roof.png" alt="Solar_Roof" /> </td>
    <td> 70 WATTS </td>
  </tr>
  <tr>
    <!-- solar aux -->
    <td> <img class="solar-aux" src="images/solar/Solar_Aux.png" alt="Solar_Aux" /> </td>
    <td> 80 WATTS </td>
  </tr>
</table>


<div class="battery-heading">
  Battery
</div>

<table class="battery-table">
  <tr>
    <td> Picture 1 </td>
    <td> 200 AH </td>
  </tr>
</table>



<img class="solar-diagram" src="images/solar/Solar_Diagram.png" alt="Solar" />

</body>
